.App {
  text-align: center;
}

.Header {
  height: 10vh;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  background-color: darkred;
}

.Body {
  background-color: #1f1f1f;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
}

.Footer {
  height: 10vh;
  position: sticky;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  background-color: darkred;
}

.Footer a {
  color: white;
  text-decoration: none;
}

.Difficulty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 772px;
  height: 50px;
}

.Difficulty button {
  width: 120px;
  height: 50px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: darkred;
  color: white;
  font-size: 20px;
}

.Difficulty button:hover {
  transition: ease 0.2s;
  background-color: grey;
  cursor: pointer;
}

.Difficulty button:focus {
  background-color: rgb(0, 140, 255);
}

.Game-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  width: 500px;
  height: 50px;
  margin: 10px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}

.Game-buttons button {
  width: 150px;
  height: 50px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: darkred;
  color: white;
  font-size: 20px;
}

.Game-buttons button:hover {
  transition: ease 0.2s;
  background-color: grey;
  cursor: pointer;
}

.Game-box {
  width: 772px;
  height: 510px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}

.Game-box:hover {
  cursor: pointer;
}

